body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h4{
  color: #6988e6;
  font-weight: lighter;
}

b{
  font-weight: lighter;
}

.app{
  width: 90%;
  margin: auto;
}

.header > img{
  width: 100%;
}

.double-zone{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.results{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button{
  width: 100%;
  padding: .7rem;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  background-color: #6988e6; 
  border: none;
  border-radius: 20px;
}

button:hover{
  background-color: #4462ba; 
}

